@blue: #0e5fd1;
@purple: #722ED1;
@cyan: #13C2C2;
@green: #169f72;
@magenta: #EB2F96;
@pink: #EB2F96;
@red: #cb3b3b;
@orange: #FA8C16;
@yellow: #d28a22;
@volcano: #FA541C;
@geekblue: #2F54EB;
@gold: #FAAD14;
@lime: #A0D911;
@colorPrimary: #0e5fd1;
@colorSuccess: #169f72;
@colorWarning: #d28a22;
@colorError: #cb3b3b;
@colorInfo: #0e5fd1;
@colorLink: #0e5fd1;
@colorTextBase: #fff;
@colorBgBase: #000;
@fontFamily: -apple-system, 'Noto Sans', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
@fontFamilyCode: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
@fontSize: 13px;
@lineWidth: 1px;
@lineType: solid;
@motionUnit: 0.1s;
@motionBase: 0s;
@motionEaseOutCirc: cubic-bezier(0.08, 0.82, 0.17, 1);
@motionEaseInOutCirc: cubic-bezier(0.78, 0.14, 0.15, 0.86);
@motionEaseOut: cubic-bezier(0.215, 0.61, 0.355, 1);
@motionEaseInOut: cubic-bezier(0.645, 0.045, 0.355, 1);
@motionEaseOutBack: cubic-bezier(0.12, 0.4, 0.29, 1.46);
@motionEaseInBack: cubic-bezier(0.71, -0.46, 0.88, 0.6);
@motionEaseInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
@motionEaseOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
@borderRadius: 4px;
@sizeUnit: 4px;
@sizeStep: 4px;
@sizePopupArrow: 16px;
@controlHeight: 28px;
@zIndexBase: 0;
@zIndexPopupBase: 1000;
@opacityImage: 1;
@wireframe: false;
@motion: true;
@blue-1: #111a2a;
@blue1: #111a2a;
@blue-2: #0f2342;
@blue2: #0f2342;
@blue-3: #122e57;
@blue3: #122e57;
@blue-4: #113c78;
@blue4: #113c78;
@blue-5: #0f4da4;
@blue5: #0f4da4;
@blue-6: #0e5fd1;
@blue6: #0e5fd1;
@blue-7: #3384e8;
@blue7: #3384e8;
@blue-8: #5aa4f3;
@blue8: #5aa4f3;
@blue-9: #84c0f8;
@blue9: #84c0f8;
@blue-10: #add7fa;
@blue10: #add7fa;
@purple-1: #1a1325;
@purple1: #1a1325;
@purple-2: #24163a;
@purple2: #24163a;
@purple-3: #301c4d;
@purple3: #301c4d;
@purple-4: #3e2069;
@purple4: #3e2069;
@purple-5: #51258f;
@purple5: #51258f;
@purple-6: #642ab5;
@purple6: #642ab5;
@purple-7: #854eca;
@purple7: #854eca;
@purple-8: #ab7ae0;
@purple8: #ab7ae0;
@purple-9: #cda8f0;
@purple9: #cda8f0;
@purple-10: #ebd7fa;
@purple10: #ebd7fa;
@cyan-1: #112123;
@cyan1: #112123;
@cyan-2: #113536;
@cyan2: #113536;
@cyan-3: #144848;
@cyan3: #144848;
@cyan-4: #146262;
@cyan4: #146262;
@cyan-5: #138585;
@cyan5: #138585;
@cyan-6: #13a8a8;
@cyan6: #13a8a8;
@cyan-7: #33bcb7;
@cyan7: #33bcb7;
@cyan-8: #58d1c9;
@cyan8: #58d1c9;
@cyan-9: #84e2d8;
@cyan9: #84e2d8;
@cyan-10: #b2f1e8;
@cyan10: #b2f1e8;
@green-1: #11211d;
@green1: #11211d;
@green-2: #123329;
@green2: #123329;
@green-3: #154535;
@green3: #154535;
@green-4: #155e46;
@green4: #155e46;
@green-5: #157f5c;
@green5: #157f5c;
@green-6: #169f72;
@green6: #169f72;
@green-7: #34b285;
@green7: #34b285;
@green-8: #58c89b;
@green8: #58c89b;
@green-9: #82d8b2;
@green9: #82d8b2;
@green-10: #afe7cc;
@green10: #afe7cc;
@magenta-1: #291321;
@magenta1: #291321;
@magenta-2: #40162f;
@magenta2: #40162f;
@magenta-3: #551c3b;
@magenta3: #551c3b;
@magenta-4: #75204f;
@magenta4: #75204f;
@magenta-5: #a02669;
@magenta5: #a02669;
@magenta-6: #cb2b83;
@magenta6: #cb2b83;
@magenta-7: #e0529c;
@magenta7: #e0529c;
@magenta-8: #f37fb7;
@magenta8: #f37fb7;
@magenta-9: #f8a8cc;
@magenta9: #f8a8cc;
@magenta-10: #fad2e3;
@magenta10: #fad2e3;
@pink-1: #291321;
@pink1: #291321;
@pink-2: #40162f;
@pink2: #40162f;
@pink-3: #551c3b;
@pink3: #551c3b;
@pink-4: #75204f;
@pink4: #75204f;
@pink-5: #a02669;
@pink5: #a02669;
@pink-6: #cb2b83;
@pink6: #cb2b83;
@pink-7: #e0529c;
@pink7: #e0529c;
@pink-8: #f37fb7;
@pink8: #f37fb7;
@pink-9: #f8a8cc;
@pink9: #f8a8cc;
@pink-10: #fad2e3;
@pink10: #fad2e3;
@red-1: #291517;
@red1: #291517;
@red-2: #401a1c;
@red2: #401a1c;
@red-3: #552222;
@red3: #552222;
@red-4: #752929;
@red4: #752929;
@red-5: #a03232;
@red5: #a03232;
@red-6: #cb3b3b;
@red6: #cb3b3b;
@red-7: #e06864;
@red7: #e06864;
@red-8: #f39992;
@red8: #f39992;
@red-9: #f8c3bd;
@red9: #f8c3bd;
@red-10: #fae9e7;
@red10: #fae9e7;
@orange-1: #2b1d11;
@orange1: #2b1d11;
@orange-2: #442a11;
@orange2: #442a11;
@orange-3: #593815;
@orange3: #593815;
@orange-4: #7c4a15;
@orange4: #7c4a15;
@orange-5: #aa6215;
@orange5: #aa6215;
@orange-6: #d87a16;
@orange6: #d87a16;
@orange-7: #e89a3c;
@orange7: #e89a3c;
@orange-8: #f3b765;
@orange8: #f3b765;
@orange-9: #f8cf8d;
@orange9: #f8cf8d;
@orange-10: #fae3b7;
@orange10: #fae3b7;
@yellow-1: #2a1f12;
@yellow1: #2a1f12;
@yellow-2: #432e14;
@yellow2: #432e14;
@yellow-3: #573e19;
@yellow3: #573e19;
@yellow-4: #79531c;
@yellow4: #79531c;
@yellow-5: #a66e1f;
@yellow5: #a66e1f;
@yellow-6: #d28a22;
@yellow6: #d28a22;
@yellow-7: #e8ab49;
@yellow7: #e8ab49;
@yellow-8: #f3c773;
@yellow8: #f3c773;
@yellow-9: #f8db9d;
@yellow9: #f8db9d;
@yellow-10: #faecc5;
@yellow10: #faecc5;
@volcano-1: #2b1611;
@volcano1: #2b1611;
@volcano-2: #441d12;
@volcano2: #441d12;
@volcano-3: #592716;
@volcano3: #592716;
@volcano-4: #7c3118;
@volcano4: #7c3118;
@volcano-5: #aa3e19;
@volcano5: #aa3e19;
@volcano-6: #d84a1b;
@volcano6: #d84a1b;
@volcano-7: #e87040;
@volcano7: #e87040;
@volcano-8: #f3956a;
@volcano8: #f3956a;
@volcano-9: #f8b692;
@volcano9: #f8b692;
@volcano-10: #fad4bc;
@volcano10: #fad4bc;
@geekblue-1: #131629;
@geekblue1: #131629;
@geekblue-2: #161d40;
@geekblue2: #161d40;
@geekblue-3: #1c2755;
@geekblue3: #1c2755;
@geekblue-4: #203175;
@geekblue4: #203175;
@geekblue-5: #263ea0;
@geekblue5: #263ea0;
@geekblue-6: #2b4acb;
@geekblue6: #2b4acb;
@geekblue-7: #5273e0;
@geekblue7: #5273e0;
@geekblue-8: #7f9ef3;
@geekblue8: #7f9ef3;
@geekblue-9: #a8c1f8;
@geekblue9: #a8c1f8;
@geekblue-10: #d2e0fa;
@geekblue10: #d2e0fa;
@gold-1: #2b2111;
@gold1: #2b2111;
@gold-2: #443111;
@gold2: #443111;
@gold-3: #594214;
@gold3: #594214;
@gold-4: #7c5914;
@gold4: #7c5914;
@gold-5: #aa7714;
@gold5: #aa7714;
@gold-6: #d89614;
@gold6: #d89614;
@gold-7: #e8b339;
@gold7: #e8b339;
@gold-8: #f3cc62;
@gold8: #f3cc62;
@gold-9: #f8df8b;
@gold9: #f8df8b;
@gold-10: #faedb5;
@gold10: #faedb5;
@lime-1: #1f2611;
@lime1: #1f2611;
@lime-2: #2e3c10;
@lime2: #2e3c10;
@lime-3: #3e4f13;
@lime3: #3e4f13;
@lime-4: #536d13;
@lime4: #536d13;
@lime-5: #6f9412;
@lime5: #6f9412;
@lime-6: #8bbb11;
@lime6: #8bbb11;
@lime-7: #a9d134;
@lime7: #a9d134;
@lime-8: #c9e75d;
@lime8: #c9e75d;
@lime-9: #e4f88b;
@lime9: #e4f88b;
@lime-10: #f0fab5;
@lime10: #f0fab5;
@colorText: rgba(255,255,255,0.85);
@colorTextSecondary: rgba(255,255,255,0.65);
@colorTextTertiary: rgba(255,255,255,0.45);
@colorTextQuaternary: rgba(255,255,255,0.25);
@colorFill: rgba(255,255,255,0.18);
@colorFillSecondary: rgba(255,255,255,0.12);
@colorFillTertiary: rgba(255,255,255,0.08);
@colorFillQuaternary: rgba(255,255,255,0.04);
@colorBgSolid: rgba(255,255,255,0.95);
@colorBgSolidHover: rgb(255,255,255);
@colorBgSolidActive: rgba(255,255,255,0.9);
@colorBgLayout: #000000;
@colorBgContainer: #141414;
@colorBgElevated: #1f1f1f;
@colorBgSpotlight: #424242;
@colorBgBlur: rgba(255,255,255,0.04);
@colorBorder: #424242;
@colorBorderSecondary: #303030;
@colorPrimaryBg: #122e57;
@colorPrimaryBgHover: #113c78;
@colorPrimaryBorder: #122e57;
@colorPrimaryBorderHover: #113c78;
@colorPrimaryHover: #3384e8;
@colorPrimaryActive: #0f4da4;
@colorPrimaryTextHover: #3384e8;
@colorPrimaryText: #0e5fd1;
@colorPrimaryTextActive: #0f4da4;
@colorSuccessBg: #11211d;
@colorSuccessBgHover: #123329;
@colorSuccessBorder: #154535;
@colorSuccessBorderHover: #155e46;
@colorSuccessHover: #155e46;
@colorSuccessActive: #157f5c;
@colorSuccessTextHover: #34b285;
@colorSuccessText: #169f72;
@colorSuccessTextActive: #157f5c;
@colorErrorBg: #291517;
@colorErrorBgHover: #401a1c;
@colorErrorBgFilledHover: #3f1c1d;
@colorErrorBgActive: #552222;
@colorErrorBorder: #552222;
@colorErrorBorderHover: #752929;
@colorErrorHover: #e06864;
@colorErrorActive: #a03232;
@colorErrorTextHover: #e06864;
@colorErrorText: #cb3b3b;
@colorErrorTextActive: #a03232;
@colorWarningBg: #2a1f12;
@colorWarningBgHover: #432e14;
@colorWarningBorder: #573e19;
@colorWarningBorderHover: #79531c;
@colorWarningHover: #79531c;
@colorWarningActive: #a66e1f;
@colorWarningTextHover: #e8ab49;
@colorWarningText: #d28a22;
@colorWarningTextActive: #a66e1f;
@colorInfoBg: #111a2a;
@colorInfoBgHover: #0f2342;
@colorInfoBorder: #122e57;
@colorInfoBorderHover: #113c78;
@colorInfoHover: #113c78;
@colorInfoActive: #0f4da4;
@colorInfoTextHover: #3384e8;
@colorInfoText: #0e5fd1;
@colorInfoTextActive: #0f4da4;
@colorLinkHover: #113c78;
@colorLinkActive: #0f4da4;
@colorBgMask: rgba(0,0,0,0.45);
@colorWhite: #fff;
@fontSizeSM: 10px;
@fontSizeLG: 14px;
@fontSizeXL: 18px;
@fontSizeHeading1: 34px;
@fontSizeHeading2: 28px;
@fontSizeHeading3: 22px;
@fontSizeHeading4: 18px;
@fontSizeHeading5: 14px;
@lineHeight: 1.6153846153846154;
@lineHeightLG: 1.5714285714285714;
@lineHeightSM: 1.8;
@fontHeight: 21px;
@fontHeightLG: 22px;
@fontHeightSM: 18px;
@lineHeightHeading1: 1.2352941176470589;
@lineHeightHeading2: 1.2857142857142858;
@lineHeightHeading3: 1.3636363636363635;
@lineHeightHeading4: 1.4444444444444444;
@lineHeightHeading5: 1.5714285714285714;
@sizeXXL: 48px;
@sizeXL: 32px;
@sizeLG: 24px;
@sizeMD: 20px;
@sizeMS: 16px;
@size: 16px;
@sizeSM: 12px;
@sizeXS: 8px;
@sizeXXS: 4px;
@controlHeightSM: 21px;
@controlHeightXS: 14px;
@controlHeightLG: 35px;
@motionDurationFast: 0.1s;
@motionDurationMid: 0.2s;
@motionDurationSlow: 0.3s;
@lineWidthBold: 2px;
@borderRadiusXS: 1px;
@borderRadiusSM: 4px;
@borderRadiusLG: 4px;
@borderRadiusOuter: 4px;
@colorFillContent: rgba(255,255,255,0.12);
@colorFillContentHover: rgba(255,255,255,0.18);
@colorFillAlter: rgba(255,255,255,0.04);
@colorBgContainerDisabled: rgba(255,255,255,0.08);
@colorBorderBg: #141414;
@colorSplit: rgba(253,253,253,0.12);
@colorTextPlaceholder: rgba(255,255,255,0.25);
@colorTextDisabled: rgba(255,255,255,0.25);
@colorTextHeading: rgba(255,255,255,0.85);
@colorTextLabel: rgba(255,255,255,0.65);
@colorTextDescription: rgba(255,255,255,0.45);
@colorTextLightSolid: #fff;
@colorHighlight: #cb3b3b;
@colorBgTextHover: rgba(255,255,255,0.12);
@colorBgTextActive: rgba(255,255,255,0.18);
@colorIcon: rgba(255,255,255,0.45);
@colorIconHover: rgba(255,255,255,0.85);
@colorErrorOutline: rgba(253,31,53,0.09);
@colorWarningOutline: rgba(240,130,0,0.1);
@fontSizeIcon: 10px;
@lineWidthFocus: 3px;
@controlOutlineWidth: 2px;
@controlInteractiveSize: 14px;
@controlItemBgHover: rgba(255,255,255,0.08);
@controlItemBgActive: #122e57;
@controlItemBgActiveHover: #113c78;
@controlItemBgActiveDisabled: rgba(255,255,255,0.18);
@controlTmpOutline: rgba(255,255,255,0.04);
@controlOutline: rgba(13,110,251,0.29);
@fontWeightStrong: var(--ob-font-weight-lg);
@opacityLoading: 0.65;
@linkDecoration: none;
@linkHoverDecoration: none;
@linkFocusDecoration: none;
@controlPaddingHorizontal: 12px;
@controlPaddingHorizontalSM: 8px;
@paddingXXS: 4px;
@paddingXS: 8px;
@paddingSM: 12px;
@padding: 16px;
@paddingMD: 20px;
@paddingLG: 24px;
@paddingXL: 32px;
@paddingContentHorizontalLG: 24px;
@paddingContentVerticalLG: 16px;
@paddingContentHorizontal: 16px;
@paddingContentVertical: 12px;
@paddingContentHorizontalSM: 16px;
@paddingContentVerticalSM: 8px;
@marginXXS: 4px;
@marginXS: 8px;
@marginSM: 12px;
@margin: 16px;
@marginMD: 20px;
@marginLG: 24px;
@marginXL: 32px;
@marginXXL: 48px;
@boxShadow: 
      0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 9px 28px 8px rgba(0, 0, 0, 0.05)
    ;
@boxShadowSecondary: 
      0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 9px 28px 8px rgba(0, 0, 0, 0.05)
    ;
@boxShadowTertiary: 
      0 1px 2px 0 rgba(0, 0, 0, 0.03),
      0 1px 6px -1px rgba(0, 0, 0, 0.02),
      0 2px 4px 0 rgba(0, 0, 0, 0.02)
    ;
@screenXS: 480px;
@screenXSMin: 480px;
@screenXSMax: 575px;
@screenSM: 576px;
@screenSMMin: 576px;
@screenSMMax: 767px;
@screenMD: 768px;
@screenMDMin: 768px;
@screenMDMax: 991px;
@screenLG: 992px;
@screenLGMin: 992px;
@screenLGMax: 1199px;
@screenXL: 1200px;
@screenXLMin: 1200px;
@screenXLMax: 1599px;
@screenXXL: 1600px;
@screenXXLMin: 1600px;
@boxShadowPopoverArrow: 2px 2px 5px rgba(0, 0, 0, 0.05);
@boxShadowCard: 
      0 1px 2px -2px rgba(0,0,0,0.16),
      0 3px 6px 0 rgba(0,0,0,0.12),
      0 5px 12px 4px rgba(0,0,0,0.09)
    ;
@boxShadowDrawerRight: 
      -6px 0 16px 0 rgba(0, 0, 0, 0.08),
      -3px 0 6px -4px rgba(0, 0, 0, 0.12),
      -9px 0 28px 8px rgba(0, 0, 0, 0.05)
    ;
@boxShadowDrawerLeft: 
      6px 0 16px 0 rgba(0, 0, 0, 0.08),
      3px 0 6px -4px rgba(0, 0, 0, 0.12),
      9px 0 28px 8px rgba(0, 0, 0, 0.05)
    ;
@boxShadowDrawerUp: 
      0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 9px 28px 8px rgba(0, 0, 0, 0.05)
    ;
@boxShadowDrawerDown: 
      0 -6px 16px 0 rgba(0, 0, 0, 0.08),
      0 -3px 6px -4px rgba(0, 0, 0, 0.12),
      0 -9px 28px 8px rgba(0, 0, 0, 0.05)
    ;
@boxShadowTabsOverflowLeft: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
@boxShadowTabsOverflowRight: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
@boxShadowTabsOverflowTop: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
@boxShadowTabsOverflowBottom: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);
