@prefix: ob-fullscreen;
.@{prefix}-box {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;

  &.@{prefix}-box-fullscreen {
    position: fixed;
    z-index: 900;
    background: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .@{prefix}-box-header {
    display: flex;
    height: 64px;
    .@{prefix}-box-header-left {
      flex: 1;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 24px;
      padding-right: 24px;
    }
    .@{prefix}-box-header-icon {
      cursor: pointer;
    }
    .@{prefix}-box-header-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-left: 24px;
    }
    .@{prefix}-box-header-extra {
      flex: 2;
      line-height: 64px;
      text-align: end;
      padding-right: 24px;
    }
  }
}

/* 避免滚动穿透 */
.@{prefix}-body-overflow-hidden {
  overflow: hidden;
}
