@import '~@oceanbase/design/es/theme/index.less';
.container {
  color: @colorInfo;
  background: @colorSuccess;
  background-color: @colorWarning;
  border-color: @colorError;
  scrollbar-color: @colorBgContainer;
  font-size: @fontSize;
  box-shadow: 0 1px 2px 0 @colorFillQuaternary,
    0 1px 6px -1px @colorFillQuaternary, 0 2px 4px 0 @colorFillQuaternary;
  .content {
    color: @colorText;
    background: @colorTextSecondary;
    background-color: @colorTextTertiary;
    border: 1px solid @colorBorder;
    font-size: @fontSizeSM;
  }
}
