.container {
  color: var(--ob-color-text-link);
  background: var(--ob-color-bg-default);
  border-color: var(--ob-color-border-default);
  font-size: var(--ob-font-size-325);
}

.content {
  color: var(--ob-color-text-default);
  background-color: var(--ob-color-bg-primary);
  border-radius: var(--ob-radius-sm);
  padding: var(--ob-space-400);
}

