.card {
  padding: var(--ob-space-300) var(--ob-space-500);
  border: 1px solid var(--ob-color-border-default);
  border-radius: var(--ob-radius-lg);
  box-shadow: var(--ob-shadow-2);
  font-size: var(--ob-font-size-400);
  line-height: var(--ob-font-line-height-500);
}

.text {
  color: var(--ob-color-text-label);
  font-weight: var(--ob-font-weight-lg);
}

@media (max-width: @screenMD) {
  .card {
    padding: var(--ob-space-200);
  }
}

