.wrapper {
  background: var(--ob-color-bg-default);

  .header {
    color: var(--ob-color-text-default);
    font-size: var(--ob-font-size-400);

    &:hover {
      color: var(--ob-color-text-link);
    }
  }

  .body {
    padding: var(--ob-space-400);
    border: 1px solid var(--ob-color-border-default);

    > .content {
      margin: var(--ob-space-300);
    }
  }
}

