@import '../variable.less';

@prefix: ob-date-ranger;

.@{prefix} {
  .@{prefix}-range-picker {
    padding-left: 0px;
    border: 0px;

    input {
      text-align: center;
    }
  }

  .@{prefix}-wrapper {
    border: 1px solid @colorBorder;
    border-radius: 4px;
    box-sizing: border-box;
    min-width: 160px;
  }

  .@{prefix}-play {
    padding: 4px 11px 4px;
  }

  .@{prefix}-picker-input {
    max-width: 125px;
  }

  .@{prefix}-date-picker {
    .@{prefixCls}-select-selector {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:hover {
        z-index: 1;
      }
    }

    .@{prefixCls}-select-arrow {
      z-index: 1;
    }
  }
}

.@{prefix}-show-range {
  .@{prefix}-quick-picker.@{prefix}-quick-picker-select {
    margin-right: -1px;

    .@{prefixCls}-select-selector {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:hover {
        z-index: 1;
      }
    }

    .@{prefixCls}-select-arrow {
      z-index: 1;
    }
  }

  .@{prefix}-playback-control {
    margin-left: 8px;

    .@{prefixCls}-radio-button-wrapper {
      padding-inline: 8px;
    }
  }
}

.@{prefix}-label {
  background-color: rgb(226, 229, 237);
  display: inline-block;
  width: 60px;
  padding: 4px 0;
  border-radius: 4px;
  line-height: 1;
  text-align: center;
}
