@import '../variable.less';

@prefix: ob-date-ranger;

.@{prefix} {
  cursor: pointer;
  .@{prefix}-wrapper {
    border: 1px solid @colorBorder;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    display: flex;
    // FIXED: 存在不生效情况
    .@{prefix}-picker {
      padding-left: 0px;
      border: 0px;
      pointer-events: none;
      input {
        text-align: center;
      }
    }
  }

  .@{prefix}-play {
    padding: 4px 11px 4px;
  }

  .@{prefix}-picker-input {
    max-width: 125px;
  }

  .@{prefix}-date-picker {
    .@{prefixCls}-select-selector {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:hover {
        z-index: 1;
      }
    }

    .@{prefixCls}-select-arrow {
      z-index: 1;
    }
  }
}

.@{prefix}-dropdown-picker {
  display: flex;
  padding: 4px;
  gap: 4px;
  background-color: #ffffff;
  background-clip: padding-box;
  border-radius: 8px;
  outline: none;
  box-shadow:
    0 6px 16px 0 rgba(54, 69, 99, 0.08),
    0 3px 6px -4px rgba(54, 69, 99, 0.12),
    0 9px 28px 8px rgba(54, 69, 99, 0.05);

  .@{prefixCls}-dropdown-menu {
    padding: 0;
    box-shadow: none;
  }

  .@{prefixCls}-picker-time-panel-container {
    .@{prefixCls}-picker-content {
      height: 148px;
    }
  }
}

.@{prefix}-show-range {
  .@{prefix}-quick-picker.@{prefix}-quick-picker-select {
    margin-right: -1px;

    .@{prefixCls}-select-selector {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:hover {
        z-index: 1;
      }
    }

    .@{prefixCls}-select-arrow {
      z-index: 1;
    }
  }

  .@{prefix}-playback-control {
    margin-left: 8px;

    .@{prefixCls}-radio-button-wrapper {
      padding-inline: 8px;
    }
  }
}

.@{prefix}-label {
  background-color: rgb(226, 229, 237);
  display: inline-block;
  width: 60px;
  padding: 4px 0;
  border-radius: 4px;
  line-height: 1;
  text-align: center;
}
