name: Sync Feature Branch

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ['feature']

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    if: github.repository == 'oceanbase/oceanbase-design'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [16.x]
        os: [ubuntu-latest]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: feature
      # Sync `feature` branch from oceanbase/oceanbase-design to dengfuping/oceanbase-design
      # `feature` branch will be deployed auto in Vercel after sync success
      - name: Sync feature branch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git push -f https://dengfuping:$GITHUB_TOKEN@github.com/dengfuping/oceanbase-design feature:feature
